.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  height: 10rem;
}

.footer-social__link {
  padding: 0.5rem 0.7rem;
  margin: 0 0.4rem;
  border-radius: 17px;
  text-decoration: none;
  font-size: 0.8rem;
  color: #bebebf;
  border: 1px solid #bebebf;
  transition: 0.4s ease-in-out;
  font-weight: 600;
}

.footer-social__link:hover {
  background-color: #bebebf;
  color: #131417;
}

@media screen and (min-width: 768px) {
  .footer-social {
    flex-direction: row;
    height: fit-content;
    margin: 3rem auto;
  }
}
