@import url(./header/navbar.css);
@import url(./header/logo.css);
@import url(./header/menu-social.css);
@import url(./header/menu-mobile.css);

@import url(./footer/footer.css);
@import url(./footer/footer-social.css);

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

html {
  font-family: "Manrope";
}

body {
  margin: 0;
}
